.card {
  background-color: grey;
  width: 600px;
  aspect-ratio: 16/9;
  display: flex;
  gap: 10px;
  border-radius: 10px;
}

.card__image {
  border-radius: 10px 0 0 10px;
  flex-basis: 200px;
  background: red;
  overflow: hidden;
}

.card__image > img {
  width: 225px;
  height: auto;
}

.card__content {
  flex: 1;
  /* background: green; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__content--detail {
}

.card__content--action {
}
